<div class="login-body">
  <div class="login-header">
        <h1>Log in</h1>
        <img src="../../../assets/images/mew.png" alt="Image of mew">    
    </div>

    <div>
        <app-login-form (login)="handleLogin()"></app-login-form>
    </div>  
</div>

