<div class="col" *ngIf="pokemon">
      <div class="card">
 
        <section>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/{{pokemon.url.slice(0, pokemon.url.length -1).replace('https://pokeapi.co/api/v2/pokemon/', '')}}.gif" [alt]="pokemon.name" class="card-img-top">
        </section>
        <div class ="card-body">
            <h5 class="card-title">{{pokemon.name}}</h5>
            <app-catch-pokemon-button [pokemonName]="pokemon.name"></app-catch-pokemon-button>
        </div> 
    </div>  
</div>
    
    
