
.card{
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
h1{
    margin-bottom: 2rem;
}
.card img{
    height: 20rem;
}
.card:hover{
    transform:scale(1.1)
}