<nav class="navbar navbar-expand-sm bg-light fixed-top">
    <a
    routerLink=""
    class="navbar-brand mb-0 h1">
    <img
    class="d-inline-block align-top"
    src="../../../assets/images/snorlax.png"
    width="30" height="30"/>
    Pokemon
    </a>
    <ng-container *ngIf="trainer !== undefined">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/trainer">Trainer</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/catalogue">Catalogue</a>
                </li>
            </ul>      
        </div>
        
    </ng-container>
    
</nav>
