<button (click)="onCatchClick()">
    <div *ngIf="!loading; else spinner">
        <ng-container *ngIf="isCaught; then caught else notCaught" class="material-icons"></ng-container>
        <ng-template #caught>
            <span class="material-icons">delete</span>
        </ng-template>
        <ng-template #notCaught>
            <span class="material-icons">catching_pokemon</span>
        </ng-template>
    </div>
    <ng-template #spinner>
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </ng-template>
</button>
