.material-icons{
    color: red;  
}

button{
    background-color: white;
    border-radius: 11px;
}
button:hover{
    background-color: #f4E6f1;
}
div{
    background-color: #f4E6f1;
    width: fit-content;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 9px;
}
form{
    background-color: white;
    padding: 1rem;
    border-radius: 9px;
}

input{
    border: none;
}
input:focus{
    outline: none;
}

