<div>
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <input type="text"
            ngModel
            #trainername="ngModel"
            name="trainername"
            required
            placeholder="Username"
    >

    <button type="submit">
    <span class="material-icons">
        catching_pokemon
    </span>
</button>
</form>
</div>