/* You can add global styles to this file, and also import other style files */
body{
    background: hsla(313, 39%, 93%, 1);

    background: linear-gradient(90deg, hsla(313, 39%, 93%, 1) 0%, hsla(320, 78%, 79%, 1) 50%, hsla(193, 81%, 84%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(313, 39%, 93%, 1) 0%, hsla(320, 78%, 79%, 1) 50%, hsla(193, 81%, 84%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(313, 39%, 93%, 1) 0%, hsla(320, 78%, 79%, 1) 50%, hsla(193, 81%, 84%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f4e6f1", endColorstr="#f3a0d7", GradientType=1 );
    background-attachment: fixed;
}